NEXT_PUBLIC_API_URL=http://localhost:8001
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id
NEXT_PUBLIC_JOB_ESCROW_ADDRESS=0x2Ff9B760510fc0aAd51a59f8aDA62F8B2631a075
NEXT_PUBLIC_GPU_REGISTRY_ADDRESS=0xCEf0f0E74e618A95Da97e1216F81d74eA01dE77C
NEXT_PUBLIC_PROOF_RECEIPT_ADDRESS=0xb35EfE4E7071B1c7ce7f00CC7BB667cEc706DBa2
NEXT_PUBLIC_DICO_TOKEN_ADDRESS=0xdA08a27339E2EA93AfCe6270c14FA35C1bE48bf4
NEXT_PUBLIC_REPUTATION_SYSTEM_ADDRESS=0xf02ac8fDab069bd62B2CE9F53Ea0d09c725880E3
NEXT_PUBLIC_DISPUTE_RESOLUTION_ADDRESS=0x15076c075c39BD2F1D10dcf5dC9063Ae808ab019
NEXT_PUBLIC_COMPUTE_MARKETPLACE_ADDRESS=0xFD0F04eEC204b2cf1Af7f3a6f9145F12B5C78293
NEXT_PUBLIC_CHAIN_ID=51
NEXT_PUBLIC_RPC_URL=https://erpc.apothem.network
NEXT_PUBLIC_BLOCK_EXPLORER=https://explorer.apothem.network
